# 1. THIS IS THE SAMPLE ( .env ) FILE.

# 2. YOU NEED TO MAKE THE NEW ( .env ) FILE IN THE ROT FOLDER WIH THE NAME LIKE THIS 
#    ( config.env ).

# 3. THIS .env FILE IS NEED TO ASSIGN THE ENVIRONMENT VARIABLE FOR THE PORT ON WHICH THE SERVER WILL LISTEN TO THE EVENTS AND RESPOND TO AND ALSO THE CONNECTION STRING FOR YOU MONGODB.

# 4. EVERY CONFIGURATION SHOULD BE ON SEPERATE LINE WITHOUT SEMICOLON

# 5. 1st CONFIGURATION: ( PORT = any_port_number ) eg:- ( PORT = 3000 ).

# 6. 2nd CONFIGUTATION: ( DB_URL = mongodb_connection_string )  